header {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // background: #ffffff;
    // z-index: 10;
    // background-image: url('../../../public/images/pattern-bg.png');


    & nav {
        overflow-y: hidden;
        padding: 2.3rem 0;
        z-index: 1;

        // & .navbar-brand {
        //     font-size: 2.1rem !important;
        //     font-weight: 700 !important;
        //     color: #707070 !important;            
        // }

        & #topNav {
            transition: 0.3s ease-in-out;
            pointer-events: all;
            transform: translateX(0);

            & li:not(:first-child) {
                margin-left: 5rem;
            }

            & .nav-link {

                &:hover {
                    color: #DBDB31 !important;
                }
            }

        }

        & #menu-icon {
            content: "";
            position: absolute;
            top: .8rem;
            right: 4%;
            height: .3rem;
            width: 2.7rem;
            background: rgb(202, 31, 31);
        }
    }
}