header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // background: #ffffff4a;
    // backdrop-filter: blur(2px);
    z-index: 10;
    pointer-events: none;
    // background-image: url('../../../public/images/pattern-bg.png');


    & nav {
        overflow-y: hidden;
        padding: 2rem 0;
        z-index: 1;

        // & .navbar-brand {
        //     font-size: 2.1rem !important;
        //     font-weight: 700 !important;
        //     color: #707070 !important;            
        // }

        & > div {
            padding: 0 4vw;
        }

        & #topNav {
            transition: 0.3s ease-in-out;
            pointer-events: all;
            transform: translateX(0);

            & li:not(:first-child) {
                margin-left: 2rem;
            }

            & .nav-link {

                &:hover {
                    color: #DBDB31 !important;
                }
            }

        }

    }
}