#home {
    height: 100vh;
    max-width: 100vw;
    z-index: 0;

    & .leaflet-container {
        height: 100%;
        z-index: 1;

        & .leaflet-popup-content {
            font-size: 13px;
            margin: 20px 10px 10px 10px;

            & .popup-icons {
                position: absolute;
                top: 4px;
                right: 21px;
                
            }
        }

    }
}