* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: $bp-medium) {
        font-size: 45.5%;
    }
}